# Permite scripts de build para paquetes nativos usados por Firebase / Sharp
allow-build[]=@firebase/util
allow-build[]=protobufjs
allow-build[]=sharp
# Evita que pnpm pregunte interactivamente en CI
fund=false
update-notifier=false
